@charset "utf-8";
/* 
	RESET
*/

/*33C370
1f7a34 vs 87ad34 vs 74af1e
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
	COMMON	
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -132px;
}
* html .wrapper {
    height: 100%;
}
.page-buffer {
    height: 132px;/*132px footer + space*/
}

.container {
	margin: 0 auto;
	width: 960px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 18px;
}

.search input {
	font-size: 14px;
}

.notinstock {
    background-color:#888888 !important;
}

.button, .button-1, .button-2 {
	display: inline-block;
	padding: 5px;
	background-color: #33C370;
	border: 0;
    cursor: pointer;
    color:#fff !important;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 600;
    text-decoration:none;
}

.button:hover, .button-1:hover, .button-2:hover {
	background-color: #2FB066;
}

a, a:visited {
	color: #000;
}

.prod-boxes-container {
	margin: 20px auto;
	width: 735px;
}
.prod-box img {
	border: 0;
    height: 100px;
}
.prod-box {
	font-family:Arial, Helvetica, sans-serif;
	float: left;
	width: 160px;
    margin-right: 23px;
}
.prod-box.title {
    font-size:14px;
	height:28px;
}
.prod-box.prod-descr {
    font-size:12px;
    font-style:italic;
    color:#888888;
	height:80px;
    margin-top:5px;
}
.prod-box.priceblock {
	font-style:italic;
	font-size:14px;
	height:25px;
    margin-top:5px;
}
.prod-box-priceblock-btn {
	border:0;
	margin-left:5px;
	vertical-align:middle;
	width:26px;
	height:26px;
	outline:0;
	cursor:pointer;
	background: #33C370 url("../img/cart_empty.png") no-repeat 2px 2px;
}
.prod-box-priceblock-btn:hover {
	background-color:#2FB066;
}
.prod-box a, .prod-box a:visited {
	color: #000;
}

/*TODO*/
.carousel .product img.label {
	border: 0px;
	z-index: 1001;
	position: absolute;
	top: 4px;
	width: 32px;
	right: 49px;
}

.product-details-page .button input {
    background-color: #33C370;
    border: 0;
    margin-top: -7px;
    cursor: pointer;
}

.product-details-page .previews {
	float:left;
	clear:both;
}

.product-details-page h2 {
	margin-bottom: 16px;
	font-size: 24px;
}

.product-details-page .reviews {
    margin-top: 25px;
    width: 710px;
    float: left;
}

.owl-wrapper-outer {
	margin-left: 35px;
}

.owl-pagination {
	display: none;
}

.owl-prev {
	position: absolute;
	top: 100px;
	left: 0px;
	background-image: url('../img/left-arrow.png');
	width: 30px;
	height: 60px;
	border-radius: 0px;
	background-color: #FFF;
	opacity: 1;
}

.owl-next {
	position: absolute;
	top: 100px;
	right: -15px;
	background-image: url('../img/right-arrow.png');
	width: 30px;
	height: 60px;
	border-radius: 0px;
	background-color: #FFF;
	opacity: 1;
}

.ajax-loading-block-window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 20px;
    overflow: hidden;
    z-index: 10000;
    margin-top: -10px;
    margin-left: -64px;
}

.ajax-loading-block-window .loading-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    background-image: url('../img/ajax_loader_large.gif');
}

.bar-notification {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

.bar-notification.success {
    background: none repeat scroll 0 0 #33C370;
    border-bottom: 3px solid #fff!important;
    color: #fff;
    margin: 0 0 10px;
}

.bar-notification.error {
    background: none repeat scroll 0 0 #c00;
    border-bottom: 3px solid #fff!important;
    color: #fff;
    margin: 0 0 10px;
}

.bar-notification .close {
    background: url(../img/close.png) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    float: right;
    margin: 6px 6px 0 0;
    cursor: pointer;
}

.bar-notification p.content {
    padding: 0 10px;
    margin: 10px auto;
	width: 960px;
    text-align: center;
}

.bar-notification p.content a {
    text-decoration: underline;
    color: #fff;
}

/*
	HEADER
*/

#header {
    padding-top: 35px;
}

.logo {
	float: left;
	margin-right: 50px;
}

.descriptor {
	float: left;
}

.descriptor-name {
	margin-bottom: 10px;
}

.descriptor-description img {
	height: 16px;
	position: relative;
	top: 3px;
}

.phone-block {
	float: right;
	text-align: center;
}

.phone {
	margin-bottom: 10px;
}

.time {
    color:#888888;
}

.callback {
	border-bottom: 1px dashed #000;
	display: inline;
	cursor: pointer;
}

.search {
	margin-top: 19px; 
}

.search-input {
	width: 256px;
    padding-left: 2px;
    height: 29px;
}

.search-button {
    position: relative;
    margin-left: -4px;
    width: 70px;
    height: 35px;
    cursor: pointer;
}

.menu {
	clear: both;
	height: 40px;
    width: 960px;
	background-color: #33C370;
	position: relative;
	top: 22px;
}

.menu a {
	display:inline-block;
	height: 40px;
	color:#fff;
	text-decoration: none;
}

.menu ul {
	position:relative;
	padding:0px;
}

.menu ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-weight: 600;
	cursor:pointer;
	background:#33C370;
	color:#fff;
	text-align:center;
	line-height:38px;
	position:relative;
	list-style:none;
	padding-left:10px;
	padding-right:10px;
	margin:0 auto;
	float:left;
	display: inline;
	height:40px;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
}

.menu li:hover{
		background:#2FB066;
}

.menu li.right {
	float: right;
}

.cart-img {
    display: inline-block;
    float: left;
    padding-top: 7px;
    margin-right: 2px;
}

.header-links {
    float:right;
    margin-top: 3px;
}

.header-links li {
    display: inline;
}

.header-links a {
    color:#888888;
    font-size:10px;
    text-decoration:none;
    padding-left:6px;
}

/*
	INDEX
*/

#content {
	clear: both;
	padding-top: 45px;
}

.container-cat {
	margin: 0 auto;
	z-index: 999;
	width: 960px;
}

.element img {
	border: 0;
}

.element {
	position: relative;
	float: left;
	width: 240px;
	height: 200px;
}

.element span {
	position: absolute;
	margin: 0 auto;
	top: 5px;
	left: 0px;
	text-align:center;
	width: 100%; 
	font: bold 19px Helvetica, Sans-Serif; 
	letter-spacing: -1px;  
}

.element a:link {
	color: #000000;
}

.element a:visited {
	color: #000000;
}
.element a:hover {
	color: #000000;
}

.element a:active {
	color: #000000;
}

.element:hover {
	position: relative;
	z-index: 9999;
	overflow: hidden;
	cursor: pointer;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
	-webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2); 
	-moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2); 
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);      
}

.last-products, .popular-products {
	clear: both;
    padding-top: 20px;
}

hr.faded {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}

.seo-block {
    clear: both;
	text-align: justify;
	color: #888;
	padding-top: 20px;
	margin-bottom: 20px;
}

/*
	CATEGORY
*/

#sidebar {
    float: left;
    width: 220px;
    margin-bottom: 30px;
}

.categories-list {
	border-right: 3px solid #33C370;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-list li {
	margin-bottom: 16px;
}

.categories-list a, .categories-list a:visited, .subcategories a, .subcategories a:visited {
	text-decoration: none;
    color: #1a1a1a;
    padding: 2px 4px 2px 4px;
    margin-left: -4px;
    margin-top: -2px;
}

.categories-list a:hover, .subcategories a:hover {
    background-color: #33C370;
    color:#fff;
}

.categories-list .current, .subcategories .current {
	font-weight: bold;
    color: #000;
}

.subcategories li {
	display: inline-block;
    margin-bottom: 4px;
	margin-right: 10px;
}

.discount {
	margin-top: 32px;
}

.discount img {
	border: 3px solid #000;
}



.products td, .products-search td {
	width: 170px;
}

.products .product {
	text-align: center;
	width: 130px;
	margin-top: 20px;
}

.products .product img {
	border: 1px solid #000;
}

.products .product img.label {
	border: 0px;
	z-index: 1001;
	position: absolute;
	top: 4px;
	width: 32px;
	right: 49px;
}

.products .product a {
	display: block;
	margin: 5px 0;
	height: 45px;
}

.products .product .product-price {
	font-style: italic;
	margin-top: 138px;
}

.products .product .button {
	margin-top: 5px;
	padding-top: 15px;
	height: 25px;
	cursor: pointer;
}

.pager {
    clear: both;
}

.pager ul {
	text-align: center;
    margin-bottom: 30px;
}

.pager ul li {
	display: inline;
	margin-right: 10px;
}

.pager ul li a {
	background-color: #33C370;
    color: #fff;
	padding: 6px 10px;
    text-decoration: none;
}

.pages {
	margin-top: 16px;
}

#vk_groups {
    margin-bottom:20px;
}

/*
	PRODUCT
*/
.gallery {
	float: left;
}

.main-image img {
	height: 250px;
}

.small-image {
	margin-top: 20px;
	margin-right: 20px;
	float: left;
	cursor: pointer;
}

.small-image img {
	height: 50px;
}

.product-additional {
	text-align: center;
	width: 300px;
	float: right;
	position: relative;
	right: 36px;
	top:55px;
}

.product-additional .price {
	font-size: 36px;
	margin-bottom: 16px;
}

.product-additional .qtyblock {
	margin-bottom: 16px;
}

.product-additional .exists {
	font-size: 18px;
	margin-bottom: 16px;
}

.product-additional .button {
	padding: 0 15px 0 15px;
	margin: auto;
	height: 50px;
	font-size: 18px;
}

.product-additional .rating {
	margin-bottom: 8px;
}

.product-additional .feedback {
	border-bottom: 1px dashed #000;
	display: inline;
	cursor: pointer;
}

.product-additional .qty-input {
    width: 40px;
    height: 25px;
    text-align: center;
}

.product-additional input.qtyplus { width:25px; height:25px;text-align:center;padding:0}
.product-additional input.qtyminus { width:25px; height:25px;text-align:center;padding:0}

#main {
	margin-left: 30px;
    float: left;
    width: 710px;
    margin-bottom: 30px;
}

#main .description {
	text-align: justify;
    width: 710px;
    float: left;
    font: 10pt Verdana, Arial, Helvetica, sans-serif;
    color: #333333;
}

#main .description h1 {
	margin-bottom: 16px;
}

#main .text {
	text-align: justify;
}

#main .text h1 {
	margin-bottom: 16px;
}

/*Defaults for description*/
#main .description p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
#main .description h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#main .description strong { 
    font-weight: bold;
    color: #000000;
}
#main .description em { 
    font-style: italic;
}
#main .description ul { 
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
#main .description li {
    display: list-item;
}
#main .description a, #main .description a:visited, #main .description a:active {
    color: #006699;
}
#main .description a:hover {
    color: #0099ff;
}

.also-purchased {
	clear: both;
	position: relative;
	top: 32px;
}

.similar {
	position: relative;
	top: 48px;
	margin-bottom: 32px;
}

.feedbacks {
	margin-top: 16px;
}

.feedbacks li {
	margin-bottom: 16px;
}

.feedbacks li .meta {
	color: #888;
	margin-bottom: 8px;
}

/*
	CART
*/
table.products-cart {
	width: 978px;
	text-align: left;
}

.page-title h1 {
    margin-bottom: 16px;
}

table.products-cart th {
	font-weight: bold;
}

table.products-cart td {
	padding-right: 10px;
}

table.products-cart td img {
	width: 70px;
	position: relative;
	top: 34px;
}

table.products-cart td img.delete {
	width: 24px;
	cursor: pointer;
	top: 6px;
}

table.products-cart td input {
	width: 80px;
}

.sum-info {
	text-align: right;
	font-weight: bold;
}

.sum-info div {
	margin-top: 16px;
}

.order-form {
	margin-top: 16px;
}

.order-form tr td {
	width: 175px;
	height: 40px
}

.order-form tr td.middle {
	vertical-align: middle;
}

.order-form tr td input {
	width: 470px;
}

.order-form tr td textarea {
	width: 470px;
	height: 120px;
}

.order-button {
	padding-top: 5px;
	padding-right: 15px;
	height: 50px;
	text-align: right;
	width: 150px;
	font-size: 18px;
	margin-top: 15px;
	float: right;
	cursor: pointer;
}

/*
	FOOTER
*/

#footer {
	clear: both;
	height: 132px;
	background-color: #33C370;
	position: relative;
    width: 960px;
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
}

#footer .container {
	padding-top: 16px;
}

.footer-left, .footer-center {
	float: left;
    width: 33%;
    margin-left: 15px;
}

.footer-right {
	float: right;
    margin-right: 15px;
}

#footer li:first-child {
	margin-bottom: 16px;
}

#footer li {
	margin-bottom: 12px;
}

#footer a, #footer a:visited {
	color: #fff;
}

/*
	POPUP
*/
#popup-wrapper {
	width: 600px;
	height: 400px;
	background-color: #FFF;
	position: fixed;
	top: 200px;
	display: none;
	text-align: center;
	border: 2px solid #33C370;
}

#popup-wrapper div {
	padding-top: 50px;
}

#popup-wrapper h1 {
	background-color: #33C370;
	padding-top: 16px;
	padding-bottom: 16px;
}

#popup-wrapper h2 {
	margin-top: 150px;
}

#popup-wrapper input {
	width: 400px;
	height: 40px;
	font-size: 24px;
}

#popup-wrapper .button {
	margin: 45px 98px;
	font-size: 24px;
	padding-top: 20px;
	height: 37px;
	cursor: pointer;
}

#popup-wrapper .close {
	position: absolute;
	width: 32px;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

/*
	DEBUG
*/

/*
.form-fields input.review-title {
    width: 470px;
}

.form-fields textarea {
    width: 470px;
    height: 120px;
}

.form-fields div.inputs {
    margin-top: 20px;
}

.form-fields div.inputs label {
    margin-bottom: 20px;
    position: relative;
    top: -60px;
}

.form-fields div.inputs:first-child label {
    margin-bottom: 0px;
    position: relative;
    top: 0px;
}
*/

/* FORMS & MISC*/
.page{}
.page-body{}
.page-title{margin:0 0 10px;overflow:hidden;width:100%;}
.page-title h1,.page-title h2{padding:5px 5px 5px 0;font-size:20px;margin:0;font-family:Arial,Helvetica,sans-serif;font-weight:400;}
.page-title .link-rss{float:right;margin:10px 10px 0 0;background-image:url(images/ico-rss.gif);background-repeat:no-repeat;display:block;height:14px;width:14px;text-indent:-9999px;}
.nobr{white-space:nowrap!important;}
.wrap{white-space:normal!important;}
.a-left{text-align:left!important;}
.a-center{text-align:center!important;}
.a-right{text-align:right!important;}
.clearer{zoom:1;}
.clearer:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.fieldset{padding:10px;margin-bottom:15px;border:1px solid #eee;border-radius:5px;}
.fieldset .title{margin:-17px 0 14px;}
.fieldset .title strong{background:#fff;}
.fieldset .inputs{margin-bottom:5px;}
.fieldset .inputs label{display:inline-block;width:130px;margin-left:10px;}
.fieldset .inputs label.forcheckbox{margin:0 0 0 .4em;display:inline;}

/* REGISTRATION */
.registration-page{}
.registration-page .page-title{}
.registration-page .page-body{margin:0;padding:0;color:#555;background-color:inherit;}
.registration-page .gender{display:inline-block;}
.registration-page ul.option-list{display:inline-block;}
.registration-page ul.option-list li{list-style:none;display:inline-block;}
.registration-page ul.option-list li label{width:auto;margin-left:0px;}
.registration-page .vat-note{display:block;}
.registration-page .accept-privacy-policy{float:left;margin-bottom:5px;margin-top:5px;clear:both;}
.registration-page .accept-privacy-policy .read{text-decoration:underline;}
.registration-page .accept-privacy-policy .read:hover{cursor:pointer;}
.registration-page .buttons{margin-bottom:5px;margin-top:5px;}
.registration-page .message-error {margin-bottom:20px;}
.registration-page textarea{height:100px;width:500px;border:solid 1px #E3E3E3;vertical-align:top;}
.registration-result-page{}
.registration-result-page .page-title{}
.registration-result-page .page-body{margin:0;padding:0;color:#555;background-color:inherit;}
.registration-result-page .buttons{float:left;margin-bottom:5px;margin-top:5px;}

/* VALIDATION AND ERRORS */
.message-error{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}
.message-error ul{padding:0px;}
.message-error ul li{list-style:none;}
.validation-summary-errors{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}
.field-validation-error{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}
.required{color:red;}

/* LOGIN */
.login-page{}
.login-page .page-title{margin-bottom:20px;}
.login-page .page-body{color:#555;}
.login-page .title{margin:-17px 0 14px;zoom:1;}
.login-page .title strong{font-size:12px;background:#fff;}
.login-page .customer-blocks:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.login-page .new-wrapper{float:left;width:46%;min-height:240px;padding:10px;border:1px solid #eee;margin-bottom:15px;border-radius:5px;}
.login-page .returning-wrapper{float:right;width:46%;min-height:240px;padding:10px;border:1px solid #eee;margin-bottom:15px;border-radius:5px;}
.login-page .new-wrapper .text{line-height:20px;}
.login-page .new-wrapper .buttons{float:right;margin:30px 30px 5px 30px;}
.login-page .checkout-as-guest-or-register-block ul{padding-left:30px;}
.login-page .returning-wrapper .inputs{margin:20px 0;}
.login-page .returning-wrapper .message-error{padding:0;}
.login-page .returning-wrapper .buttons{float:right;margin:5px 30px;}
.login-page .returning-wrapper label{width:100px;display:inline-block;margin-right:10px;white-space:nowrap;vertical-align:middle;font-weight:700;}
.login-page .email,.login-page .username,.login-page .password{width:170px;}
.login-page .returning-customer .reversed label{width:auto;font-weight:400;}
.login-page .forgot-password{display:block;margin-top:20px;font-weight:700;}
.login-page .field-validation-error{display:block;}
.external-auth-errors{text-align:center;border:solid 1px #d3d3d3;vertical-align:top;width:100%;color:Red;margin-bottom:20px;}
.external-auth-errors ul{padding:0px;}
.external-auth-errors ul li{list-style:none;}
.external-auth-association{text-align:center;border:solid 1px #d3d3d3;vertical-align:top;width:100%;margin-bottom:20px;}
.external-auth-association .identifier{}
.external-auth-association .remove{color:#B80709;}

/* CONTACTS */
.contact-page{}
.contact-page .page-body{padding:15px;margin-bottom:15px;border:1px solid #eee;}
.contact-page .result{font-weight:bold;}
.contact-page .form-fields{zoom:1;}
.contact-page .form-fields:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.contact-page .inputs-left{float:left;}
.contact-page .inputs-right{float:right;}
.contact-page .inputs{margin-bottom:12px;}
.contact-page .captcha-box{margin-bottom:12px;}
.contact-page .fullname{width:250px;padding:1px;}
.contact-page .email{width:250px;padding:1px;}
.contact-page .enquiry{width:350px;height:150px;}
.contact-page .buttons{text-align:left;}

/* CUSTOMER ACCOUNT PAGES */
.account-page{}
.account-page .result{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}
.account-page .page-title{margin-bottom:20px;}
.account-page .page-body{margin:0;padding:0;color:#555;}
.account-page .section{padding:10px;margin-bottom:20px;border:1px solid #eee;border-radius:5px;zoom:1;}
.account-page .section:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.account-page .section .title{margin:-17px 0 14px;zoom:1;}
.account-page .section .title strong{background:#fff;}
.account-page .section li{list-style:none;line-height:16px;}
.address-list-page{}
.address-list-page .address-list{}
.address-list-page .address-list .address-item{}
.address-list-page .address-list .address-item .title{font-size:13px;}
.address-list-page .address-list .address-item .info{float:left;}
.address-list-page .address-list .address-item .buttons{float:right;}
.address-list-page .add-button{margin-bottom:5px;margin-top:5px;float:left;text-align:right;}
.address-edit-page{}
.address-edit-page .edit-address{margin-bottom:10px;}
.address-edit-page .edit-address .inputs{margin-bottom:5px;}
.address-edit-page .edit-address label{display:inline-block;width:100px;}
.address-edit-page .buttons{}
.avatar-page{padding:10px;}
.avatar-page .buttons{margin:5px 0;}
.back-in-stock-subscription-list-page{}
.back-in-stock-subscription-list-page .subscription-list{}
.back-in-stock-subscription-list-page .description{}
.back-in-stock-subscription-list-page .no-data{}
.back-in-stock-subscription-list-page .buttons{margin-bottom:5px;margin-top:5px;text-align:left;}
.change-password-page{}
.change-password-page .buttons{margin-bottom:5px;margin-top:5px;}
.downloadable-products-page{}
.downloadable-products-page .no-data{}
.forum-subscriptions-page{}
.forum-subscriptions-page .subscription-list{}
.forum-subscriptions-page .description{}
.forum-subscriptions-page .no-data{}
.forum-subscriptions-page .buttons{margin-bottom:5px;margin-top:5px;text-align:left;}
.customer-info-page{}
.customer-info-page .gender{display:inline-block;}
.customer-info-page ul.option-list{display:inline-block;}
.customer-info-page ul.option-list li{list-style:none;display:inline-block;}
.customer-info-page ul.option-list li label{width:auto;margin-left:0px;}
.customer-info-page .vat-status{}
.customer-info-page .vat-note{display:block;}
.customer-info-page .buttons{margin-bottom:5px;margin-top:5px;text-align:center;}
.customer-info-page .message-error {margin-bottom:20px;}
.customer-info-page textarea{height:100px;width:500px;border:solid 1px #E3E3E3;vertical-align:top;}
.customer-info-page .add-more-external-records{margin-top:10px;}
.customer-info-page .add-more-external-records a{color:#B80709;}
.username-available-status{color:green;padding-left:5px;}
.username-not-available-status{color:red;padding-left:5px;}
.order-list-page{}
.order-list-page .recurring-payments{}
.order-list-page .recurring-payments .recurring-payments-box{text-align:left;padding:10px;height:auto;}
.order-list-page .order-list{}
.order-list-page .order-list .order-item{}
.order-list-page .order-list .order-item .title{font-size:13px;}
.order-list-page .order-list .order-item .info{float:left;}
.order-list-page .order-list .order-item .buttons{float:right;}
.return-request-list-page{}
.return-request-list-page .request-item{}
.return-request-list-page .request-item a{color:#B80709;}
.return-request-list-page .request-item .title{font-size:13px;}
.return-request-list-page .request-item .info{}
.reward-points-page{}
.reward-points-page .reward-points-overview{padding:10px 10px 5px 0;width:100%;}
.reward-points-page .reward-points-overview .current-balance{}
.reward-points-page .reward-points-overview .min-balance{margin-top:10px;}
.reward-points-page .reward-points-history{}
.reward-points-page .reward-points-history .title{margin-top:20px;margin-bottom:15px;}

/* NAVIGATIONS */
.block{margin-bottom:15px;padding-bottom:5px;padding-left:0;}
.block .title{font-size:12px;letter-spacing:1px;text-align:left;padding:9px 7px;text-transform:uppercase;color:#333;border-radius:5px 5px 0px 0px;margin:0;background:none repeat scroll 0 0 #F6F6F4;}
.block .title strong{font-weight:700;}
.block .listbox{font-size:11px;padding:5px 10px 10px;line-height:18px;margin:0;border-radius:0px 0px 5px 5px;}
.block .listbox ul{margin:0;padding:0 0 0 2px;color:#5C5B5B;background-color:inherit;}
.block a{color:#5C5B5B;font-size:1.1em;font-weight:400;text-decoration:none;}
.block a:hover{text-decoration:underline;font-weight:normal;}
.block li{background:url("images/bullet-right.gif") no-repeat left 8px;list-style:none outside none;line-height:18px;padding:4px 1px 3px 13px;}
.block li.separator{background:none;height:1px;line-height:1px;width:auto;font-size:1px;margin:0;padding:0;}
.block-account-navigation a.active{font-weight:700;text-decoration:none;}
.block-account-navigation a{white-space:nowrap;}
.block-account-navigation a.inactive{font-weight:400;text-decoration:none;}
.block-account-navigation a.inactive:hover{text-decoration:underline !important;}

/* PASSWORD RECOVERY AND NEWSLETTER PAGES */
.password-recovery-page,newsletter-page{}
.password-recovery-page .page-title,newsletter-page .page-title{}
.password-recovery-page .page-body,newsletter-page .page-body{margin:0;padding:0;color:#555;background-color:inherit;}
.password-recovery-page .email{width:250px;}
.password-recovery-page .result{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}

/* ORDER SUMMARY, SHOPPING CART, WISHLIST */
.shopping-cart-page,.wishlist-page{}
.shopping-cart-page .page-title,.wishlist-page .page-title{}
.shopping-cart-page .page-body,.wishlist-page .page-body{margin:0;padding:0;font-size:11px;color:#555;}
.wishlist-page .share-info{margin:5px 0;}
.wishlist-page .share-info .share-label{font-weight:700;}
.wishlist-page .share-info a.share-link{color:#B80709;text-decoration:none;}
.order-summary-content,.wishlist-content{margin:0;padding:0;font-size:14px;color:#555;}
.order-summary-content .message-error,.wishlist-content .message-error{margin:5px 0;}
.order-summary-content .totals{float:right;padding:0px 5px 0;width:320px;}
.order-summary-content .cart-collaterals{float:left;padding:20px 0 10px;width:580px;}
.order-summary-content .deals{display:inline;float:left;margin:0 10px 0 0;width:280px;}
.order-summary-content .shipping{display:inline;float:left;margin:0 10px 0 0;width:280px;}
.order-summary-content .coupon-box,.order-summary-content .giftcard-box{padding:10px;font-size:11px;color:#555;margin:0 0 10px;border:1px solid #EEE;}
.order-summary-content .coupon-box .message,.order-summary-content .giftcard-box .message{font-family:Verdana,Arial,sans-serif;font-size:10px;font-weight:700;color:red;}
.order-summary-content .coupon-box .message-failure {color: red;}
.order-summary-content .coupon-box .message-success {color: green;}
.order-summary-content .coupon-box .current-code{padding:10px 0px 0px 0px;}
.order-summary-content .coupon-box .discount-coupon-code,.order-summary-content .giftcard-box .gift-card-coupon-code{width:auto;}
.order-summary-content .coupon-box .hint,.order-summary-content .giftcard-box .hint{padding-top:5px;}
.order-summary-content .giftcard-box{position:relative;z-index:1;}
.order-summary-content .apply-discount-coupon-code-button,.order-summary-content .apply-gift-card-coupon-code-button{margin:5px 0;}
.order-summary-content .cart,.wishlist-content .cart{width:100%;border-collapse:collapse;text-align:center;vertical-align:middle;}
.wishlist-content .cart{margin-bottom:10px;}
.order-summary-content .cart td,.wishlist-content .cart td{padding:10px;}
.order-summary-content .cart .cart-header-row,.wishlist-content .cart .cart-header-row{font-weight:700;}
.order-summary-content .cart .cart-header-row th,.wishlist-content .cart .cart-header-row th{background:none repeat scroll 0 0 #33C370;color:#FFF;border-right:solid 1px #fff;height:20px;padding:2px 8px;vertical-align:middle;white-space:nowrap;}
.order-summary-content .cart .cart-header-row th.picture,.wishlist-content .cart .cart-header-row th.picture{border:none;}
.order-summary-content .cart .cart-header-row th.end,.wishlist-content .cart .cart-header-row th.end{text-align:right;padding-right:5px;}
.order-summary-content .cart .cart-item-row,.wishlist-content .cart .cart-item-row{}
.order-summary-content .cart .cart-item-row td,.wishlist-content .cart .cart-item-row td{border-bottom:1px solid #c5c5c5;vertical-align:middle;line-height:30px;}
.order-summary-content .cart .cart-item-row td.product,.wishlist-content .cart .cart-item-row td.product{text-align:left;padding:0 10px;}
.order-summary-content .cart .cart-item-row td.product a,.wishlist-content .cart .cart-item-row td.product a{font-weight:700;text-decoration:none;}
.order-summary-content .cart .cart-item-row td.end,.wishlist-content .cart .cart-item-row td.end{text-align:right;font-weight:700;color:green;padding-right:5px;}
.order-summary-content .cart .cart-item-row .qty-input,.wishlist-content .cart .cart-item-row .qty-input{border:solid 1px #E3E3E3;font-size:12px;text-align:right;width:40px;}
.order-summary-content .cart .cart-item-row td .td-title, .wishlist-content .cart .cart-item-row td .td-title{display:none;}
.order-summary-content .cart .cart-item-row .edit-item a{color:#B80709;}
.order-summary-content .cart-footer{width:100%;zoom:1;}
.order-summary-content .cart-footer:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.order-summary-content .total-info{margin:0;font-size:12px;}
.order-summary-content .total-info .selected-shipping-method{font-weight:normal;font-size:11px;}
.order-summary-content .total-info .order-total{color:#353434;}
.order-summary-content .will-earn-reward-points{font-style:italic;}
.order-summary-content .will-earn-reward-points .cart-total-left{font-weight:normal;}
.order-summary-content .will-earn-reward-points td{padding-top:15px;}
.cart-total-left{width:100%;text-align:right;vertical-align:middle;height:21px;font-weight:700;color:#353434;}
.cart-total-left-below{width:100%;text-align:right;vertical-align:top;height:30px;}
.cart-total-right{text-align:right;vertical-align:middle;padding-left:5px;}
.order-summary-content .remove-gift-card-button,.order-summary-content .remove-discount-button{padding-right:5px;padding-left:18px;background:url(images/ico-delete.gif) no-repeat;border:0;width:32px;height:15px;}
.order-summary-content .remove-gift-card-button:hover,.order-summary-content .remove-discount-button:hover{cursor:pointer;}
.order-summary-content .selected-checkout-attributes{margin:0;padding:10px 5px 10px 0;width:100%;text-align:right;vertical-align:middle;color:#353434;}
.order-summary-content .checkout-attributes{margin:10px 0;padding:10px 20px;background:none repeat scroll 0 0 #F7F5E8;border:1px dotted #D3D3D3;clear:both;}
.order-summary-content .checkout-attributes .text-prompt{font-weight:bold;}
.order-summary-content .checkout-attributes ul.option-list{padding:0px;margin:0px;}
.order-summary-content .checkout-attributes ul.option-list li{list-style:none;}
.order-summary-content .checkout-attributes .textbox{width:300px;}
.order-summary-content .checkout-attributes textarea{width:300px;height:150px;}
.order-summary-content .checkout-button {float: right;font-size: 14px;padding: 10px;margin-top: 5px;}

/* ORDER DETAILS */
.order-details-page{}
.order-details-page .page-title{}
.order-details-page .page-title h1{float:left;}
.order-details-page .page-title a{float:right;margin-left:10px;}
.order-details-page .page-title a:hover{text-decoration:none;}
.order-details-page .title{padding:10px 10px 5px 0;font-weight:700;clear:both;font-size:12px;}
.order-details-page .page-body{border:1px solid #EEE;padding:10px;}
.order-details-page .order-overview{text-align:left;padding-bottom:10px;overflow:hidden;}
.order-details-page .order-overview .order-number{margin-bottom:10px;}
.order-details-page .order-overview .order-details{float:left;}
.order-details-page .order-overview .order-details span{display:block;margin-bottom:5px;}
.order-details-page .order-overview .order-total{text-align:right;}
.order-details-page .order-details-area{text-align:left;margin:10px;padding:10px;border:1px solid #EEE;height:auto;}
.order-details-page .order-details-area table{width:100%;border:0px;border-collapse:collapse;border-spacing:0;}
.order-details-page .order-details-area td{width:50%;vertical-align:top;}
.order-details-page .order-details-area ul{float:left;margin-right:20px;}
.order-details-page .order-details-area li{list-style:none;}
.order-details-page .order-details-area li:first-child{margin-top:0;}
.order-details-page .repost{margin:10px 0px 10px 0px;}
.order-details-page .repost .hint{margin:0px;}
.order-details-page .section{text-align:left;padding:10px;margin-bottom:20px;height:auto;}
.order-details-page .checkout-attributes{text-align:right;vertical-align:middle;padding:10px;height:auto;}
.order-details-page .actions{margin:10px 0px 10px 0px;}
.order-details-page .cart-total-left{color:#000;}
.order-details-page .order-notes th.createdon{width:30%;}
.order-details-page .order-notes .download a{color:#B80709;}
.order-details-page .products td .td-title{display:none;}

/* DATA TABLE */
.data-table{width:100%;border:1px solid #EEE;border-collapse:collapse;border-spacing:0;empty-cells:show;}
.data-table th{font-weight:bold;padding:3px 8px;white-space:nowrap;vertical-align:middle;}
.data-table td{padding:3px 8px;}
.data-table th,.data-table td{border-bottom:1px solid #EEE;border-right:1px solid #EEE;}
.data-table .odd{}
.data-table .even{background-color:#F6F6F6;}

/* ONE PAGE CHECKOUT */
.opc .buttons{margin-top:0;}
.opc .buttons .back-link{margin-bottom:10px;}
.opc .buttons .back-link small{display:none;}
.opc .buttons .back-link a{background:url(../img/arrow-up.png) no-repeat left;padding-left:20px;}
.opc .buttons.disabled button{display:none;}
.opc .buttons .please-wait{height:21px;line-height:21px;}
.opc .ul{list-style:disc outside;padding-left:18px;}
.opc ul,.opc ol,ul.opc,ol.opc{list-style:none outside none;}
.opc{position:relative;}
.opc li.tab-section{}
.opc .step-title{border-width:0 1px;border-style:solid;border-color:#fff #d9dde3 #d9dde3;background:#F2F2F2;padding:4px 8px 6px;text-align:right;}
.opc .step-title .number{float:left;background:#fff;border:1px solid #fff;padding:0 4px;margin:0 5px 0 0;font:bold 11px/14px arial,helvetica,sans-serif;color:#999;}
.opc .step-title h2{float:left;margin:0;font:bold 13px/16px Arial,Helvetica,sans-serif;color:#999;text-transform:capitalize;}
.opc .allow .step-title{background:#F2F2F2;border:1px solid #EEE;border-bottom:0;color:#a4b3b9;cursor:pointer;}
.opc .allow .step-title .number{background:#dbe6eb;border-color:#dbe6eb;color:#a4b3b9;}
.opc .allow .step-title h2{color:#a4b3b9;}
.opc .active .step-title{background:#f9f3e3;border:1px solid #EEE;padding-bottom:5px;color:#f18200;cursor:default;}
.opc .active .step-title .number{background:#33C370;border-color:#33C370;color:#fff;}
.opc .active .step-title h2{color:#555;}
.opc .step{border:1px solid #EEE;border-top:0;background:#fbfaf6 0 0 repeat-x;padding:15px 30px;position:relative;}
.opc .step-title:after{display:block;content:".";clear:both;font-size:0;line-height:0;height:0;overflow:hidden;}
.opc .order-summary-content .cart-footer{background:none!important;}

/* CHECKOUT */
.checkout-page,.checkout-one-page{}
.checkout-page .page-title,.checkout-one-page .page-title{}
.checkout-page .checkout-data,.checkout-one-page .checkout-data{margin:0;padding:0;color:#555;background-color:inherit;}
.checkoutstep{}
.checkoutstep .steptitle{border:1px solid #2F4F4F;color:#FFF;background-color:#2E4d7B;font-family:Arial,Sans-Serif;font-size:12px;font-weight:700;padding:5px;margin-top:5px;}
.checkoutstep .stepcontent{border:dashed 1px #2F4F4F;border-top:none;padding:5px;}
.order-summary-title{padding:10px 10px 5px 0;font-size:11px;color:#555;font-weight:700;clear:both;}
.order-summary-body{text-align:center;height:auto;}
.checkout-data .section{margin-bottom:15px;}
.checkout-data .section .title{padding:10px 10px 5px 0;font-weight:700;clear:both;margin-bottom:5px;}
.checkout-data .address-grid{padding:0;overflow:hidden;}
.checkout-data .address-grid .address-item{float:left;padding:10px;border:1px solid #EEE;width:200px;min-height:150px;margin-right:5px;}
.checkout-data .address-grid .address-item .select-button{margin-bottom:5px;margin-top:5px;text-align:center;}
.checkout-data .address-grid .address-item li{list-style:none; text-align:left;}
.checkout-data .enter-address{border:1px solid #EEE;height:auto;padding:10px;}
.checkout-data .enter-address label{display:inline-block;width:95px;}
.checkout-data .enter-address .buttons{margin-top:10px;}
.checkout-data .pickup-in-store{border:1px solid #EEE;height:auto;padding:10px;}
.checkout-data .pickup-in-store .description{font-style:italic;}
.checkout-data .shipping-method{text-align:left;border:1px solid #EEE;height:auto;}
.checkout-data .shipping-method li{text-align:left;vertical-align:text-top;padding:5px 0 0 5px;list-style:none;}
.checkout-data .shipping-method .method-name{font-weight:700;}
.checkout-data .shipping-method .method-description{padding:5px 0 5px 16px;}
.checkout-data .shipping-method .buttons{margin:10px;text-align:left;}
.checkout-data .shipping-method .message-error{margin:10px;text-align:left;}
.checkout-data .use-reward-points{margin:0;padding:10px;color:#555;background:#F7F5E8;margin-bottom:10px;border:dotted 1px #d3d3d3;}
.checkout-data .payment-method{text-align:left;border: 1px solid #EEE;height:auto;}
.checkout-data .payment-method li{padding:10px;text-align:left;vertical-align:text-top; list-style:none;}
.checkout-data .payment-method .method-name{clear:both;}
.checkout-data .payment-method .method-name:after{content:".";display:block;clear:both;height:0;font-size:0;line-height:0;visibility:hidden;}
.checkout-data .payment-method .payment-logo{float:left;}
.checkout-data .payment-method .payment-details{float:left;padding-top:8px;}
.checkout-data .payment-method .buttons{margin:10px;text-align:left;}
.checkout-data .payment-method .message-error{margin:10px;text-align:left;}
.checkout-data .payment-info{text-align:left;border:1px solid #EEE;height:auto;}
.checkout-data .payment-info .info{padding:10px;text-align:left;vertical-align:text-top;}
.checkout-data .payment-info .buttons{margin:10px;text-align:left;}
.checkout-data .payment-info .message-error{margin:10px;text-align:left;}
.checkout-data .confirm-order{text-align:left;border:1px solid #EEE;height:auto; margin-bottom:0;}
.checkout-data .confirm-order .buttons{margin:10px;text-align:left;}
.checkout-data .confirm-order .message-error{margin:10px;text-align:left;}
.checkout-data .order-review-data{padding:10px;overflow:hidden;margin-bottom:20px;}
.checkout-data .order-review-data ul{float:left;margin-left:15px;margin-right:15px;width:350px;}
.checkout-data .order-review-data li{list-style:none;text-align:left;}
.checkout-data .order-review-data li:first-child{margin-top:0;}
.checkout-data .order-review-data .title{margin:10px 0 5px;}
.checkout-data .order-review-data .payment-method,.checkout-page .order-review-data .shipping-method{border:none;}
.checkout-data .order-completed{text-align:left;border:1px solid #EEE;height:auto;padding:10px;}
.checkout-data .order-completed ul{margin-bottom:10px;}
.checkout-data .order-completed li{margin:5px 0;list-style:none;}
.checkout-data .order-completed a{color:#B80709;text-decoration: none;}
.order-progress{height:40px;margin:0 auto;text-align:center;border-bottom:solid 2px #f3f3f3;}
.order-progress ul{padding:0;margin:0;}
.order-progress ul li{list-style:none;display:inline;padding:5px 20px 0;}
.order-progress ul li .active-step{color:#6a6a6a;background:url(images/progress-step-active.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;zoom:1;}
.order-progress ul li .inactive-step{color:#d7d7d7;background:url(images/progress-step-inactive.gif) no-repeat 50% 50%;padding-bottom:40px;padding-right:1px;zoom:1;}
.order-progress ul li a:hover{text-decoration:none;}

/* PRODUCT REVIEWS PAGE */
.product-reviews-page{}
.product-reviews-page .page-title{}
.product-reviews-page .page-title a{text-decoration:none;}
.product-reviews-page .result{}
.product-reviews-page .write-review{margin-top:10px;padding:15px;border:1px solid #eee;}
.product-reviews-page .write-review .title{margin-bottom:10px;font-size:16px;line-height:20px;font-weight:bold;}
.product-reviews-page .write-review .inputs{margin-bottom:12px;clear:both;}
.product-reviews-page .write-review .captcha-box{margin-bottom:12px;}
.product-reviews-page .write-review .inputs label{display:block;}
.product-reviews-page .write-review .review-title{width:350px;}
.product-reviews-page .write-review .review-text{width:350px;height:150px;}
.product-reviews-page .write-review .review-rating{margin-bottom:12px;clear:both;}
.product-reviews-page .write-review .review-rating label{}
.product-reviews-page .write-review .review-rating ul{display:inline-block;}
.product-reviews-page .write-review .review-rating li{display:inline-block;list-style:none;}
.product-reviews-page .write-review .review-rating input{vertical-align:bottom;}
.product-reviews-page .write-review .buttons{text-align:left;}
.product-review-list{margin:10px 0px 10px 0;}
.product-review-list .title{padding:10px 10px 10px 0;font-weight:700;text-transform:uppercase;font-size:1.1em;color:#3a3a3a;}
.product-review-list .product-review-item{border:solid 1px #d3d3d3;margin:10px 0 0;padding:10px 10px 20px;clear:both;}
.product-review-list .product-review-item .review-item-head{clear:both;}
.product-review-list .product-review-item .review-title{font-weight:700;float:left;margin-bottom:5px;}
.product-review-list .product-review-item .rating{float:right;margin-right:5px;}
.product-review-list .product-review-item .review-text{float:left;margin-bottom:5px;clear:both;}
.product-review-list .product-review-item .review-info{float:left;margin-bottom:5px;clear:both;}
.product-review-list .product-review-item .review-info .separator{margin:0 2px;}
.product-review-helpfulness{font-size:11px;color:#333;clear:both;}
.product-review-helpfulness .vote{color:#B80709;font-weight:700;text-decoration:none;}
.product-review-helpfulness .vote:hover{cursor:pointer;text-decoration:none;}